{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    {%tailwind_css%}
  </head>
  <body>
    <nav class="bg-blue-300 text-base">
      <a href="#">API</a>
    </nav>
    <div class="container mx-auto">
      <section class="flex items-center justify-center h-screen">
        <h1 class="text-5xl bg-amber-500">Django + Tailwind = ❤️</h1>
      </section>
    </div>
  </body>
</html>
